:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: #ececec;
}

.preview-wrap {
  padding: 2rem 2rem 4rem 2rem;
  background: #cccccc;
  max-width: 1080px;
  margin: 5rem auto;
  border-radius: 1rem;
}
