<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Template Example</title>
    <link href="/style.css" rel="stylesheet" />
    <link href="/templates/template-card/styles.css" rel="stylesheet" />

    <style>
      /* You can overwrite the relevant variables here */
      /* :root {
        --rga-ad-spacing: 3rem;
      } */
    </style>
  </head>
  <body>
    <p>
      <a href="/">Back to Home</a>
    </p>

    <div id="rga_ad-wrapper">
      <!-- Simple Template Wrapper -->
      <div class="rga_card-ad-wrap">
        <!-- Simple Template -->
        <article class="rga_card-ad-template">
          <h2
            class="rga_card-ad-template__title rga_card-ad-template__title--mobile"
          >
            Ipsum laborum esse excepteur aute consequat
          </h2>

          <img
            src="https://images.unsplash.com/photo-1558898268-92ae44e7670e?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
            class="rga_card-ad-template__image"
          />

          <div class="rga_card-ad-template__content">
            <h3
              class="rga_card-ad-template__title rga_card-ad-template__title--desktop"
            >
              Ipsum laborum esse excepteur aute consequat
            </h3>

            <div class="rga_cardte-ad-template__body">
              Proident esse minim ut voluptate aliqua nulla adipisicing amet ea
              elit irure dolore. Culpa pariatur nisi nostrud est laboris aute
              nisi nisi laborum ea Lorem.
            </div>
          </div>

          <a href="#" class="rga_card-ad-template__cta">Learn More</a>
        </article>

        <!-- Simple Template -->
        <article class="rga_card-ad-template">
          <img
            src="https://plus.unsplash.com/premium_photo-1682095926736-d90023908060?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
            class="rga_card-ad-template__image"
          />

          <div class="rga_card-ad-template__content">
            <h2 class="rga_card-ad-template__title">
              Ipsum laborum esse excepteur aute consequat
            </h2>
            <div class="rga_cardte-ad-template__body">
              Proident esse minim ut voluptate aliqua nulla adipisicing amet ea
              elit irure dolore. Culpa pariatur nisi nostrud est laboris aute
              nisi nisi laborum ea Lorem.
            </div>
          </div>

          <a href="#" class="rga_card-ad-template__cta">Learn More</a>
        </article>
      </div>
    </div>
  </body>
</html>
